# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\workSpace\classifierBack\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
